<div class = "col-md-6 col-md-offset-3 text-center">
<h1> Welcome to the Task Manager </h1>
</div>
<div class =  "col-md-6 col-md-offset-3 list-group">
  <a href="/tasks" class="list-group-item text-center labels" >Task Index</a>
  <a href="/tasks/new" class="list-group-item text-center labels">New Task</a>
</div>
