<div class='col-md-6 col-md-offset-3 navbar navbar-default navbar-static-top'>
  <ul class="nav nav-pills navbar-right">
    <li><a href="/"><h2>Home</h2></a></li>
    <li><a href="/tasks"><h2>Tasks</h2></a></li>
  </ul>
</div>

<div class = "col-md-6 col-md-offset-3 white">
  <h2 class = "title_with_seperator"><%= @task.title %></h2>
  <h3 class = "task-description"><%= @task.description %></h3>
</div>
